<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>List of users</h1>
    <table th:border="5" th:align="left" th:bgcolor="yellow">
        <tr style="font-size: 15px">
            <td>Id</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Email</td>
            <td>Action</td>
        </tr>
        <tr th:each="user :  ${users}">
            <td><p th:text="${user.getId()}"/></td>
            <td><p th:text="${user.getName()}"/></td>
            <td><p th:text="${user.getSurName()}"/></td>
            <td><p th:text="${user.getEmail()}"/></td>
            <td>
                <a th:href="@{/{id}/edit (id=${user.getId()})}">Edit</a>
                <a th:href="@{/{id}/delete(id=${user.getId()})}">Delete</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/new}">Add new User</a>
</div>
</body>
</html>